{% extends 'planets/planets.html' %}
{% block title %}Jupiter{% endblock %}

{% block name %}Jupiter{% endblock %}
{% block planet %}Jupiter{% endblock %}
{% block planet2 %}jupiter{% endblock %}


{% block summary %}Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, molestiae optio libero eum non,
blanditiis ex
ipsum
eius quia quos dicta, eveniet quis ab impedit enim repellendus voluptatum. A officia reprehenderit eveniet at,
blanditiis accusamus voluptatem architecto ab sequi, laboriosam, doloremque consequatur! Dolore vitae doloribus
iste
reprehenderit aut eos debitis modi dicta mollitia, illo dignissimos dolores voluptates. Harum itaque enim
ducimus
repellat qui quod tempore, necessitatibus suscipit. Nesciunt excepturi, sapiente nulla autem ipsum porro modi
vel
quae, ratione consequuntur vitae placeat. Architecto maxime id qui natus iure saepe ipsam. Odio hic
exercitationem
mollitia neque autem at inventore reiciendis fugiat quos.
{% endblock %}

{% block mass %}x{% endblock %}
{% block distance %}y{% endblock %}
{% block radius %}z{% endblock %}
{% block orbit %}a{% endblock %}
{% block day %}b{% endblock %}

{% block image %}
<img class="planet-image" src="{{url_for('static',filename='images/jupiter.jpg')}}" height="250px" alt="Planet Jupiter">
<figcaption>Credit: Nasa</figcaption>
{% endblock %}

{% block moons %}
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates illo deleniti mollitia eius rerum sint
expedita laborum quidem odit vero saepe adipisci ut provident, laudantium quos aperiam magnam explicabo odio.
{% endblock %}