{% extends 'base.html' %}

{% block title %}
Test
{% endblock %}

{% block content %}
<section>
    <h1>Welcome to Solar Travels&#8482;</h1>
    <div style="display: flex; justify-content: center;">
        <img src="{{url_for('static',filename='images/solar-system.jpg')}}" width="95%" alt="">
    </div>
    <div><br> Welcome to our website! <br> We at Solar Travels&#8482; provide you with the opportunity to get an up close view of our stellar neighbours using our state of the art <i>Pulse Drives</i>. The solar system was formed 4.6 billion years ago from the gravitational collapse of a giant interstellar molecular cloud. Approximately 99.86% of the solar system's mass is in the Sun and most of the remaining mass is in Jupiter. <br> It may not seem like there's much else to see but our Solar System is incredible. The planets have always been an interest of people, even as far back as Ancienct Greece. Studying these planets helps us understand more about how our own planet came to be, and maybe we can learn about objects beyond our own system.  <br> Join us, as we take you to the farthest reaches of our Solar System to the dwarf planet, Makemake, or maybe you want to stay closer to home and orbit our home, Earth. Please access the navigation links to explore.
    </div>
</section>
{% endblock %}